.HomeContentParent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 150px;
    align-items: center;
    width: 100%;
}

.HomeContentIcon {
    font-size: 100px;
    color: gray;
}

.HomeContentPara {
    font-size: 1em;
}
