.NewSidebarParent {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    padding-left: 13px;
    color: black;
    padding-bottom: 0px;
}

.SectionHeader {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.NewSidebarList {
    list-style: none;
}

.NewSidebarList li {
    font-size: 0.98rem;
    color: gray;
    font-weight: 400;
    padding: 2px 10px 2px 10px;
    width: fit-content;
    border-radius: 30px;
    margin: 1px;
}

.NewSidebarList li:hover {
    background-color: rgb(78, 76, 76);
    color: white;
}
