.Lists {
    height: 250px;
    width: 80%;
    border: 0px solid black;
    border-radius: 10px;
    margin: 30px auto;
    align-items: center;
    overflow: auto;
}

.List {
    padding: 5px 50%;
}

.ListButton {
    width: 80%;
}

.Text {
    text-align: center;
}

.Parent {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.ListParent {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 13px;
}
